$prim-font: 'Annie Use Your Telescope', cursive;
$sec-font: 'Amatic SC', cursive;
$font-v-large: 90px;
$font-large: 60px;
$font-medium: 40px;
$font-small: 20px;
$prim-color: #000;
$sec-color: #fff;
$link-color: #000;